<!-- footer section starts  -->
<footer>
    <div id="footer-primary-info">
        <div class="footer-columns">
            <div id="footer-logo-descript">
                <img src="Images/gg-logo.png">
                <p id="footer-blurb">Gotta Go is resource for locating and<br> navigating public restrooms quickly and
                    safely.</p>
            </div>
            <div id="footer-contact-info">
                <ul>
                    <li>
                        <a href="contact">About</a>
                    </li>
                    <li>
                        <a href="contact">Contact</a>
                    </li>
                    <li>
                        <a href="contact">Contact</a>
                    </li>
                    <li>
                        <a href="contact">Contact</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <hr>
    <div id="footer-secondary-info">
        <div>
            <p id="copyright">© 2022 Gotta Go |</p>
        </div>
        <div>
            <a href="#">Privacy Policy |</a>
        </div>
        <div>
            <a href="#">Terms & Conditions</a>
        </div>
    </div>
</footer>
<!-- footer section ends -->

<!-- custom js file link  -->
<script src="/js/script.js"></script>

</body>
</html>