<!-- header section starts  -->
<header>
    <a href="/" class="logo"><img src="Images/gg-logo.png"></a>

    <nav>
        <ul>
            <li><a href="#about-container" class="navbtns">About Us</a></li>
            <li><a href="#contact-container" class="navbtns">Contact Us</a></li>
            <li><a href="/review" class="button">Submit a Restroom</a></li>
            <div class="center">
                <button id="show-login"><i class="fa-solid fa-circle-user"></i></button>
            </div>
            <div class="popup">
                <div class="close-btn">&times;</div>
                <div class="form">
                    <h2>Log In</h2>
                    <div class="form-element">
                        <label for="email">Email</label>
                        <input type="text" id="email" placeholder="Enter email">
                    </div>
                    <div class="form-element">
                        <label for="password">Password</label>
                        <input type="password" id="password" placeholder="Enter password">
                    </div>
                    <div class="form-element">
                        <input type="checkbox" id="remember-me">
                        <label for="remember-me">Remember me</label>
                    </div>
                    <div class="form-element">
                        <button>Sign in</button>
                    </div>
                    <div class="form-element">
                        <a href="#">Forgot password?</a>
                    </div>
                </div>
            </div>
        </ul>
    </nav>
</header>
<!-- header section ends -->