<!-- header section starts  -->
<header>
    <a href="/" class="logo"><img src="/Images/gg_logo_white.png"></a>

    <nav>
        <ul>
            <li><a href="#about-container" class="navbtns">About Us</a></li>
            <li><a href="#contact-container" class="navbtns">Contact Us</a></li>
            <li><a href="/review" class="button">Submit a Restroom</a></li>
            <div class="center">
                <button id="show-login"><i class="fa-solid fa-circle-user"></i></button>
            </div>
        </ul>


        <div class="popup">
            <div class="close-btn">&times;</div>
            <div class="form">
                <form id="login-form" action="/login" method="POST">
                    <h2>Sign In</h2>
                    <div class="form-element">
                        <label for="username">Username</label>
                        <input type="text" id="username" name="username" placeholder="Enter username">
                    </div>
                    <div class="form-element">
                        <label for="password">Password</label>
                        <input type="password" id="password" name="password" placeholder="Enter password">
                    </div>
                    <div class="form-element">
                        <input type="checkbox" id="remember-me">
                        <label for="remember-me">Remember me</label>
                    </div>
                    <div class="form-element">
                        <input type="submit" value="Sign in">
                    </div>
                    <div class="form-element">
                        <a href="#">Forgot password?</a>
                    </div>
                    <!-- <div class="form-element">
                        <p>Don't have an account?</p><a href="#" id="sign-up-info">Sign up.</a>
                    </div> -->
                    <div class="form-element">
                        <button id="google-btn">
                            <a href="/auth/google" role="button">Login in with Google</a>
                        </button>
                    </div>
                </form>
            </div>
        </div>



        <div class="popup-register">
            <div class="close-btn">&times;</div>
            <div class="form2">
                <form id="register-form" action="/register" method="POST">
                    <h2>Register</h2>
                    <div class="form-element">
                        <label for="username">Username</label>
                        <input type="text" id="username-register" name="username" placeholder="Enter username">
                    </div>
                    <!-- <div class="form-element">
                  <label for="email">Email</label>
                  <input type="text" id="email" name="email" placeholder="Enter email">
              </div> -->
                    <div class="form-element">
                        <label for="password">Password</label>
                        <input type="text" id="password-register" name="password" placeholder="Enter password">
                    </div>
                    <div class="form-element">
                        <input type="submit" value="Register">
                    </div>
                </form>
                <div class="form-element">
                    <button id="google-btn">
                        <a href="/auth/google" role="button">Register with Google</a>
                    </button>
                </div>
            </div>
        </div>
    </nav>
</header>
<!-- header section ends -->