* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --blue: #0073ff;
    --white: #fff;
    --black: #212427;
    --lightgrey: #f7f7f7;
    --darkgrey: #ccc;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

body {
     width: 100%;
     max-width: 100vw;
     margin: 0;
     overflow-x: hidden;
     background-color: var(--white);
}


/* ------ HEADER ------ */

header {
    overflow: hidden;
    padding: 0px 10px;
    display: flex;
    justify-content: space-between;
    max-width: 100%;
    align-items: center;
    margin: 0px 50px;
}

.logo img {
    width: 125px;
}
/* ------ NAV BAR ------ */
header a {
    text-decoration: none;
    padding: 20px;
    color: var(--blue);  
}

ul {
    list-style: none;  
    display: flex; 
    align-items: center;
}

.button {
  background-color: var(--white);
  border: 3px solid var(--blue);
  border-radius: 50px;
  color: var(--blue);
  padding: 12px 24px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}

.button:hover  {
  background-color: var(--blue);
  border: 3px solid var(--white);
  border-radius: 50px;
  color: var(--white);
  padding: 12px 24px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}

.navbtns:hover {
    font-weight: bold;
}

.fa-solid {
    font-size: 2rem;
    color: var(--blue);
    margin-left: 20px;
}

/* ------ LOGIN MODAL ------ */

.popup {
    position: absolute;
    top:-150%;
    left: 50%;
    opacity: 0;
    transform: translate(-50%, -50%) scale(1.25);
    width: 380px;
    padding: 20px, 30px;
    background: #fff;
    box-shadow: 2px 2px 5px 5px rgba(0, 0, 0, 0.15);
    border-radius: 10px;
    transition: top 0ms ease-in-out 200ms,
            opacity 200ms ease-in-out 0ms,
            transform 200ms ease-in-out 0ms;
    padding: 50px;
}

.popup.active {
    top: 50%;
    opacity: 1;
    transform: translate(-50%, -50%) scale(1);
    transition: top 0ms ease-in-out 0ms,
            opacity 200ms ease-in-out 0ms,
            transform 200ms ease-in-out 0ms;
} 

.popup .close-btn {
    position: absolute;
    top: 10px;
    right: 10px;
    width: 30px;
    height: 30px;
    color: var(--black);
    text-align: center;
    line-height: 15px;
    border-radius: 15px;
    cursor: pointer;
    font-size: 30px;
    
} 

.popup form h2 {
    text-align: center;
    color: #222;
    margin: 10px 0 px 20px;
    font-size: 25px;
}

.popup .form .form-element {
    margin: 15px 0px;
}

.popup .form .form-element label {
    font-size: 14px;
    color: #222;
}

.popup .form .form-element input[type="text"],
.popup .form .form-element input[type="password"] {
    margin-top: 5px;
    display: block;
    width: 100%;
    padding: 10px;
    outline: none;
    border: 1px solid #aaa;
    border-radius: 5px;
}

.popup .form .form-element input[type="checkbox"] {
    margin-right: 5px;
}

.popup .form .form-element button {
    width: 100%;
    height: 40px;
    border: none;
    outline: none;
    font-size: 16px;
    background: #222;
    color: #f5f5f5;
    border-radius: 10px;
    cursor: pointer;
}

.popup .form .form-element a {
    display: block;
    text-align: center;
    font-size: 15px;
    color: var(--blue);
    text-decoration: none;
    font-weight: 600;
} 

/* ------ INDEX: MAIN: SEARCH SECTION ------ */

.home-container-main {
    background-color: var(--blue);
    color: var(--white);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container_content_inner .title {
    /* overflow: hidden; */
    height: auto;
}

h1 {
    font-size: 5rem;
    color: var(--white);
    margin-bottom: 5px;
    /* transform: translateY(100px);
    animation: slideUp .8s ease forwards .8s; */
}

.container_content_inner .par {
    height: auto;
    margin-bottom: 30px;
    /* overflow: hidden; */
}

p {
    line-height: 28px;
    /* transform: translateY(300px);
    animation: slideUp .8s ease-in-out forwards .8s; */
    font-size: 1.5rem;
}

#location {
    background: var(--white);
    /* transform: translateY(300px);
    animation: slideUp .8s ease-in-out forwards .8s; */
    width: 850px;
    height: 20px;
    padding: 35px;
    border: none;
    border-radius: 50px;
    font-size: large;
}

.home-container {
    background-color: var(--white);
    text-align: center;
    margin: 100px 100px;  
}


/* ------ INDEX: MAIN: FEATURES SECTION------- */

.additional-info h1 {
    font-weight: 300;
    /* font-size: larger; */
    color: var(--black);
}

#features {
    display: flex;
}

.feature-cards {
    /* background-color: var(--blue); */
    color: var(--black);
    width: 450px;
    height: 500px;
}

.feature-cards #like-illustration {
    width: 400px;
}

.feature-cards #filters-illustration {
    width: 400px;
}

.feature-cards #crowdsource-illustration {
    width: 400px;
}
/* ---------- Index: About Section ---------- */

.home-container h1 {
    font-weight: 300;
    /* font-size: larger; */
    color: var(--black);
}

.home-container p {
    font-size: 1.5rem;
}

#about-container {
    max-width: 100vw; 
    background-color: var(--lightgrey);
    padding: 100px;
}

.section-heading {
    font-size: 1rem;
}

#about-container #about-opening-text {
    width: 100%;
}

#stats-container {
    display: flex;
}

.stats {
    margin: 0px 30px;
    width: 400px;
    height: 400px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.stats h1 {
    font-weight: bolder;
    color: var(--blue);
}

.stats p {
    color: var(--black);
}

#citation p {
    font-size: 1rem;
}

/* ---------- Index: Contact Section ---------- */

.contact-section {
    display: flex;
    width: 100%;
    margin-top: 100px;
    margin-bottom: 100px;
    margin-left: 100px;
}

.contact-section #contact-container-left #contact-heading h1 {
    font-weight: 300;
    color: var(--black);
}

.contact-section #contact-container-left {
    text-align: left;
}

.contact-section #contact-container-right {
    width: 50%;
}

.contact-section #contact-container-right form {
    text-align: left;
    padding: 0px 50px 0px 50px;
}

.contact-section #contact-container-right form input {
    width: 100%;
    padding: 15px 5px;
    border: none;
    border-bottom: 1px solid var(--darkgrey);
    background-color: var(--lightgrey);
    margin-bottom: 20px;
}

.contact-section #contact-container-right form textarea {
    width: 100%;
    padding: 15px 5px;
    border: none;
    border-bottom: 1px solid var(--darkgrey);
    background-color: var(--lightgrey);
    margin-bottom: 20px;
}

.contact-section #contact-container-right form textarea::placeholder {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI',Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.contact-section #contact-container-right form button {
    width: 150px;
    height: 60px;
    background-color: var(--blue);
    border: none;
    border-radius: 50px;
    color: var(--white);
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
}

/* ---------- Index: Leaver Review Section ---------- */

.review-card {
    background-color: var(--blue);
    padding: 60px;
    border-radius: 20px;
    margin: 50px;
    color: var(--white);
    font-size: 3rem;
    margin-bottom: 100px;
}

.review-card button {
    width: 200px;
    height: 60px;
    background-color: var(--white);
    border: none;
    border-radius: 50px;
    color: var(--blue);
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
}

.button:hover  {
  background-color: var(--blue);
  border: 3px solid var(--white);
  border-radius: 50px;
  color: var(--white);
  padding: 12px 24px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}

/* FOOTER */

footer {
    background-color: var(--lightgrey);
    color: var(--black);
    height: auto;
    padding: 50px;
    display: flex;
    flex-direction: column;
}

.footer-columns {
    display: flex;
    width: 100%;
    line-height: 1.5;
}

footer img {
    width: 125px;
    margin-bottom: 2px;
}

#footer-blurb {
    font-size: 1.25rem;
    width: 500px;
    margin-top: 20px;
}

#footer-contact-info {
    margin-left: 100px;
}

#footer-contact-info ul {
    display: flex;
    flex-direction: column;
}

footer hr {
    background-color: var(--black);
    margin-top: 150px;
}

footer a {
    text-decoration: none;
}

#footer-secondary-info {
    display: flex;
    align-items: center;
    padding: 20px 0px;
}

#footer-secondary-info p {
    font-size: 1rem;
}

/* --------------- Map Page --------------- */
.hl-1 {
    border-bottom: 1px solid var(--darkgrey);
    margin: 0px 0px 20px 0px;
}

#search-options {
    margin: 0px 50px; 
    display: flex;
}

#secondary-search-input {
    width: 25%;
    height: 45px;
    border-radius: 50px;
    padding: 20px;
    border: 1px solid var(--darkgrey);
    margin: 0px 10px 0px 0px;
}

.vl {
    border-left: 1px solid var(--darkgrey);
    height: 50px;
}

.filter-btn {
    background-color: var(--white);
    border-radius: 50px;
    border: 1px solid var(--darkgrey);
    height: 45px;
    padding: 0px 20px;
}

.filters-and-save {
    margin-left: 10px;
}

#save-search-btn {
    background-color: var(--blue);
    color: var(--white);
    border-radius: 50px;
    border: none;
    padding: 0px 20px;
    width: 150px;
    height: 45px;
}

.hl-2 {
    border-bottom: 1px solid var(--darkgrey);
    margin: 20px 0px 0px 0px;
}

.content-boxes {
    display: flex;    
}

.map-placeholder {
    background-color: var(--blue);
    padding: 60px;
    width: 70%;
    height: 800px;
    border-radius: 0px;
    margin: 0px 0px 0px 0px;
}

.img-placeholder {
    background-color: var(--blue);
    padding: 60px;
    width: 450px;
    height: 200px;
    border-radius: 10px;
    margin: 40px 20px 20px 20px;
}

.card {
    display: flex;
    width: 100%;
    margin-right: 90px;
}

.card-details {
    margin: 40px 0px;
    color: var(--black);
}

/* --------------- 404 Page --------------- */

/* #error-page {
    display: flex;
    flex-direction: column;
    margin: 50px;
}

#error-page img {
    width: 450px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

#error-page h1 {
    font-size: 9rem;
    color: var(--blue);
    text-align: center;
}

#error-page p {
    font-size: 1.5rem;
    text-align: center;
    margin: 50px 100px;
} */

/* -----review------ */

#restroom-img-placeholder {
    background: var(--blue);
    width: 200px;
    height: 150px;
}

/* -------- review form */

.feedback {
    width: 100%;
    max-width: 780px;
    background: #fff;
    margin: 0 auto;
    padding: 15px;
    box-shadow: 1px 1px 16px rgba(0, 0, 0, 0.3);
}

.survey-hr {
    margin: 10px 0;
    border: .5px solid #ddd;
}

.feedback form input,
.feedback form textarea {
    width: 100%;
    border: 1px solid #ddd;
}

.star-rating {
    margin: 25px 0 0px;
    font-size: 0;
    white-space: nowrap;
    display: inline-block;
    width: 175px;
    height: 35px;
    overflow: hidden;
    position: relative;
    background: url('data:image/svg+xml;base64,PHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiIHg9IjBweCIgeT0iMHB4IiB3aWR0aD0iMjBweCIgaGVpZ2h0PSIyMHB4IiB2aWV3Qm94PSIwIDAgMjAgMjAiIGVuYWJsZS1iYWNrZ3JvdW5kPSJuZXcgMCAwIDIwIDIwIiB4bWw6c3BhY2U9InByZXNlcnZlIj48cG9seWdvbiBmaWxsPSIjREREREREIiBwb2ludHM9IjEwLDAgMTMuMDksNi41ODMgMjAsNy42MzkgMTUsMTIuNzY0IDE2LjE4LDIwIDEwLDE2LjU4MyAzLjgyLDIwIDUsMTIuNzY0IDAsNy42MzkgNi45MSw2LjU4MyAiLz48L3N2Zz4=');
    background-size: contain;
}

.star-rating i {
    opacity: 0;
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 20%;
    z-index: 1;
    background: url('data:image/svg+xml;base64,PHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiIHg9IjBweCIgeT0iMHB4IiB3aWR0aD0iMjBweCIgaGVpZ2h0PSIyMHB4IiB2aWV3Qm94PSIwIDAgMjAgMjAiIGVuYWJsZS1iYWNrZ3JvdW5kPSJuZXcgMCAwIDIwIDIwIiB4bWw6c3BhY2U9InByZXNlcnZlIj48cG9seWdvbiBmaWxsPSIjRkZERjg4IiBwb2ludHM9IjEwLDAgMTMuMDksNi41ODMgMjAsNy42MzkgMTUsMTIuNzY0IDE2LjE4LDIwIDEwLDE2LjU4MyAzLjgyLDIwIDUsMTIuNzY0IDAsNy42MzkgNi45MSw2LjU4MyAiLz48L3N2Zz4=');
    background-size: contain;
}

.star-rating input {
    -moz-appearance: none;
    -webkit-appearance: none;
    opacity: 0;
    display: inline-block;
    width: 20%;
    height: 100%;
    margin: 0;
    padding: 0;
    z-index: 2;
    position: relative;
}

.star-rating input:hover+i,
.star-rating input:checked+i {
    opacity: 1;
}

.star-rating i~i {
    width: 40%;
}

.star-rating i~i~i {
    width: 60%;
}

.star-rating i~i~i~i {
    width: 80%;
}

.star-rating i~i~i~i~i {
    width: 100%;
}

.choice {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    text-align: center;
    padding: 20px;
    display: block;
}

span.scale-rating {
    margin: 5px 0 15px;
    display: inline-block;
    width: 100%;
}

span.scale-rating>label {
    position: relative;
    -webkit-appearance: none;
    outline: 0 !important;
    border: 1px solid grey;
    height: 33px;
    margin: 0 5px 0 0;
    width: calc(10% - 7px);
    float: left;
    cursor: pointer;
}

span.scale-rating label {
    position: relative;
    -webkit-appearance: none;
    outline: 0 !important;
    height: 33px;

    margin: 0 5px 0 0;
    width: calc(10% - 7px);
    float: left;
    cursor: pointer;
}

span.scale-rating input[type=radio] {
    position: absolute;
    -webkit-appearance: none;
    opacity: 0;
    outline: 0 !important;
    /*border-right: 1px solid grey;*/
    height: 33px;

    margin: 0 5px 0 0;

    width: 100%;
    float: left;
    cursor: pointer;
    z-index: 3;
}

span.scale-rating label:hover {
    background: #fddf8d;
}

span.scale-rating input[type=radio]:last-child {
    border-right: 0;
}

span.scale-rating label input[type=radio]:checked~label {
    -webkit-appearance: none;
    margin: 0;
    background: #fddf8d;
}

span.scale-rating label:before {
    content: attr(value);
    top: 7px;
    width: 100%;
    position: absolute;
    left: 0;
    right: 0;
    text-align: center;
    vertical-align: middle;
    z-index: 2;
}

#review-form input[type=submit] {
    background:var(--blue);
    color: var(--white);
    padding: 12px;
    border: none;
}

#review-page {
    border: 5px solid red;
    padding: 50px;
}

.review-form h1 {
    font-weight: 300;
    /* font-size: larger; */
    color: var(--black);
}