* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --blue: #0073ff;
    --lightblue: #f1f7ff;
    --white: #fff;
    --black: #212427;
    --lightgrey: #f7f7f7;
    --darkgrey: #ccc;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

body {
     width: 100%;
     max-width: 100vw;
     margin: 0;
     overflow-x: hidden;
     background-color: var(--white);
}

/* ------ HEADER ------ */

header {
    overflow: hidden;
    display: flex;
    justify-content: space-between;
    max-width: 100%;
    align-items: center;
    margin: 0px 50px;
}

.logo img {
    width: 125px;
    margin-top: 20px;
}
.blue-gradient-background {
    background-image: url(/Images/mesh-gradient.png);
}
/* ------ NAV BAR ------ */
nav {
    margin-top: 20px;
}

header a {
    text-decoration: none;
    padding: 20px;
    color: var(--white);  
    font-size: 1rem;
    white-space: nowrap;
    margin-right: 20px;
}

ul {
    list-style: none;  
    display: flex; 
    align-items: center;
}

.button {
    background-color: transparent;
    border: 3px solid var(--white);
    border-radius: 50px;
    color: var(--white);
    padding: 12px 24px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    margin-right: 20px;
}

.button:hover  {
    background-color: var(--blue);
    border: 3px solid var(--white);
    border-radius: 50px;
    color: var(--white);
    padding: 12px 24px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    margin-right: 20px;
}

.navbtns:hover {
    padding: 12px 24px;
    background-color: var(--blue);
    border-radius: 50px;
}

.fa-solid {
    font-size: 2rem;
    color: var(--white);
    margin-left: 20px;
}

.fa-solid:hover {
    background-color: var(--blue);
    border-radius: 50px;
}


#show-login {
    border: none;
    background-color: transparent;
}

#google-btn {
    border: none;
    background-color: transparent;
    margin-left: 40px;
}

#logout-btn {
    border: none;
    background-color: transparent;
}

/* ------ White Navbar ------- */

#hr-whitenavbar {
    margin-top: 20px;
    border: none;
    border-bottom: 1px solid var(--lightgrey);
    box-shadow:
        0 5px 10px rgba(154, 160, 185, 0.05),
        0 15px 40px rgba(166, 173, 201, 0.2);
}

#location-whitenavbar{
    background: var(--white);
    /* transform: translateY(300px);
    animation: slideUp .8s ease-in-out forwards .8s; */
    width: 450px;
    height: 15px;
    padding: 20px;
    border: 1px solid var(--darkgrey);
    box-shadow:
        0 1px 1px rgba(154, 160, 185, 0.05),
        0 1px 1px rgba(166, 173, 201, 0.2);
    border-radius: 50px;
    font-size: 0.90rem;
    margin-top: 20px;
    margin-left: 300px;
}

.navbtns-whitenavbar {
    text-decoration: none;
    padding: 20px;
    color: var(--blue);
    font-size: 1rem;
    white-space: nowrap;
}

.navbtns-whitenavbar:hover {
    font-weight: bold;
    white-space: nowrap;
}

.whitenavbar ul {
    list-style: none;
    display: flex;
    align-items: center;
}

#submit-btn-whitenavbar {
    background-color: transparent;
    border: 3px solid var(--blue);
    border-radius: 50px;
    color: var(--blue);
    padding: 12px 24px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    white-space: nowrap;
}

#submit-btn-whitenavbar:hover {
    background-color: var(--blue);
    border: 3px solid var(--white);
    border-radius: 50px;
    color: var(--white);
    padding: 12px 24px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    white-space: nowrap;
}

.navbtns:hover {
    /* font-weight: bold; */
}

#show-login-whitenavbar i {
    font-size: 2rem;
    color: var(--blue);
    margin-left: 20px;
}

#show-login-whitenavbar {
    border: none;
    background-color: transparent;
}
#logout-btn-whitenavbar {
    border: none;
    background-color: transparent;  
}

#logout-btn2 {
    color: var(--blue);
}

/* ------ LOGIN MODAL ------ */

.popup {
    position: absolute;
    top:-150%;
    left: 50%;
    opacity: 0;
    transform: translate(-50%, -50%) scale(1.25);
    width: 380px;
    padding: 20px, 30px;
    background: #fff;
    box-shadow: 2px 2px 5px 5px rgba(0, 0, 0, 0.15);
    border-radius: 10px;
    transition: top 0ms ease-in-out 200ms,
    opacity 200ms ease-in-out 0ms,
    transform 200ms ease-in-out 0ms;
    padding: 50px;
}

.popup.active {
    top: 50%;
    opacity: 1;
    transform: translate(-50%, -50%) scale(1);
    transition: top 0ms ease-in-out 0ms, opacity 200ms ease-in-out 0ms,
    transform 200ms ease-in-out 0ms;
} 

.popup .close-btn {
    position: absolute;
    top: 10px;
    right: 10px;
    width: 30px;
    height: 30px;
    color: var(--black);
    text-align: center;
    line-height: 15px;
    border-radius: 15px;
    cursor: pointer;
    font-size: 30px;
} 

.popup form h2 {
    text-align: center;
    color: #222;
    margin: 10px 0 px 20px;
    font-size: 25px;
}

.popup .form .form-element {
    margin: 15px 0px;
}

.popup .form .form-element label {
    font-size: 14px;
    color: #222;
}

.popup .form .form-element input[type="text"],
.popup .form .form-element input[type="password"] {
    margin-top: 5px;
    display: block;
    width: 100%;
    padding: 10px;
    outline: none;
    border: 1px solid #aaa;
    border-radius: 5px;
}

.popup .form .form-element input[type="checkbox"] {
    margin-right: 5px;
}

#login-form input[type=submit] {
    background-color: var(--black);
    width: 100%;
    height: 40px;
    border: none;
    outline: none;
    font-size: 16px;
    color: var(--white);
    border-radius: 10px;
    cursor: pointer;
}

.popup .form .form-element a {
    display: block;
    text-align: center;
    font-size: 15px;
    color: var(--blue);
    text-decoration: none;
    font-weight: 600;
} 
.popup .form .form-element p {
    font-size: 1rem;
    text-align: center;
}

#google-btn {
    display: block;
    text-align: center;
    font-size: 15px;
    color: var(--blue);
    text-decoration: none;
    font-weight: 600;
}


/* #sign-up-info {
    display: flex;
} */
/* --------- Register Modal/Popup -------- */

.popup-register {
    position: absolute;
    top: -150%;
    left: 50%;
    opacity: 0;
    transform: translate(-50%, -50%) scale(1.25);
    width: 380px;
    padding: 20px, 30px;
    background: #fff;
    box-shadow: 2px 2px 5px 5px rgba(0, 0, 0, 0.15);
    border-radius: 10px;
    transition: top 0ms ease-in-out 200ms,
        opacity 200ms ease-in-out 0ms,
        transform 200ms ease-in-out 0ms;
    padding: 50px;
}

.popup-register.active {
    top: 50%;
    opacity: 1;
    transform: translate(-50%, -50%) scale(1);
    transition: top 0ms ease-in-out 0ms, opacity 200ms ease-in-out 0ms,
        transform 200ms ease-in-out 0ms;
}

.popup-register .close-btn {
    position: absolute;
    top: 10px;
    right: 10px;
    width: 30px;
    height: 30px;
    color: var(--black);
    text-align: center;
    line-height: 15px;
    border-radius: 15px;
    cursor: pointer;
    font-size: 30px;
}

.popup-register form h2 {
    text-align: center;
    color: #222;
    margin: 10px 0 px 20px;
    font-size: 25px;
}

.popup-register .form .form-element {
    margin: 15px 0px;
}

.popup-register .form .form-element label {
    font-size: 14px;
    color: #222;
}

.popup-register .form .form-element input[type="text"],
.popup-register .form .form-element input[type="password"] {
    margin-top: 5px;
    display: block;
    width: 100%;
    padding: 10px;
    outline: none;
    border: 1px solid #aaa;
    border-radius: 5px;
}

.popup-register .form .form-element input[type="checkbox"] {
    margin-right: 5px;
}

#register-form input[type=submit] {
    background-color: var(--black);
    width: 100%;
    height: 40px;
    border: none;
    outline: none;
    font-size: 16px;
    color: var(--white);
    border-radius: 10px;
    cursor: pointer;
}

.popup-register .form .form-element a {
    display: block;
    text-align: center;
    font-size: 15px;
    color: var(--blue);
    text-decoration: none;
    font-weight: 600;
}

.popup-register .form .form-element p {
    font-size: 1rem;
    text-align: center;
}

/* #sign-up-info {
    display: flex;
} */
/* ------ INDEX: MAIN: SEARCH SECTION ------ */

.home-container-main {
    /* background-color: var(--blue); */
    /* background-image: url(/Images/mesh-gradient.png); */
    color: var(--white);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

h1 {
    font-size: 5rem;
    color: var(--white);
    margin-bottom: 5px;
    /* transform: translateY(100px);
    animation: slideUp .8s ease forwards .8s; */
}


.container_content_inner .par {
    height: auto;
    margin-bottom: 30px;
    /* overflow: hidden; */
}

p {
    line-height: 28px;
    /* transform: translateY(300px);
    animation: slideUp .8s ease-in-out forwards .8s; */
    font-size: 1.5rem;
}

#location {
    background: var(--white);
    /* transform: translateY(300px);
    animation: slideUp .8s ease-in-out forwards .8s; */
    width: 850px;
    height: 20px;
    padding: 35px;
    border: none;
    border-radius: 50px;
    font-size: large;
}

.home-container {
    background-color: var(--white);
    text-align: center;
    margin: 100px;
}


/* ------ INDEX: MAIN: FEATURES SECTION------- */

.additional-info h1 {
    font-weight: 300;
    color: var(--black);
}

#features {
    display: flex;
    justify-content: center;
}

.feature-cards {
    color: var(--black);
    margin: 50px 10px;
}

.feature-cards #like-illustration {
    width: 400px;
    margin: 25px;
}

.feature-cards #filters-illustration {
    width: 400px;
    margin: 25px;
}

.feature-cards #crowdsource-illustration {
    width: 400px;
    margin: 25px;
}
/* ---------- Index: About Section ---------- */

.home-container h1 {
    font-weight: 300;
    color: var(--black);
}

.home-container p {
    font-size: 1.5rem;
    width: 400px;
}

#about-container {
    background-color: var(--lightgrey);
    padding: 100px;
    width: 100%;
    margin: 0px 0px;
}

.section-heading {
    font-size: 1rem;
}

#about-container #about-opening-text {
    width: 1050px;
    margin: auto;
}

#stats-container {
    display: flex;
}

.stats {
    margin: 0px 30px;
    width: 400px;
    height: 400px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.stats h1 {
    font-weight: bolder;
    color: var(--blue);
}

.stats p {
    color: var(--black);
}

#citation p {
    font-size: 1rem;
    margin: auto;
    width: 100%
}

/* ---------- Index: Contact Section ---------- */

.contact-section {
    display: flex;
    margin: 100px;
    align-items: center;
    justify-content: center;
}

.contact-section #contact-container-left #contact-heading h1 {
    font-weight: 300;
    color: var(--black);
}

.contact-section #contact-container-left {
    text-align: left;
    width: 500px;
}

.contact-section #contact-container-right {
    width: 600px;
}

.contact-section #contact-container-right form {
    text-align: left;
    padding: 0px 50px 0px 50px;
}

.contact-section #contact-container-right form input {
    width: 100%;
    padding: 15px 5px;
    border: none;
    border-bottom: 1px solid var(--darkgrey);
    background-color: var(--lightgrey);
    margin-bottom: 20px;
}

.contact-section #contact-container-right form textarea {
    width: 100%;
    padding: 15px 5px;
    border: none;
    border-bottom: 1px solid var(--darkgrey);
    background-color: var(--lightgrey);
    margin-bottom: 20px;
}

.contact-section #contact-container-right form textarea::placeholder {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI',Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

textarea {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: var(--black);
}

.contact-section #contact-container-right form button {
width: 100px;
    height: 50px;
    background-color: var(--blue);
    border: none;
    border-radius: 30px;
    color: var(--white);
    text-decoration: none;
    font-size: 16px;
    cursor: pointer;
}

/* ---------- Index: Leave Review Section ---------- */

.review-card {
    /* background-color: var(--blue); */
    background-image: url(/Images/mesh-gradient\ \(2\).png);
    padding: 60px;
    border-radius: 20px;
    margin: 50px;
    color: var(--white);
    font-size: 3rem;
    margin-bottom: 100px;
    height: 350px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.review-card button {
    width: 200px;
    height: 60px;
    background-color: var(--white);
    border: none;
    border-radius: 50px;
    color: var(--blue);
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
    margin-top: 30px;
}

.review-card button:hover  {
  background-color: var(--lightgrey);
  border: 3px solid var(--white);
  border-radius: 50px;
  color: var(--blue);
  padding: 12px 24px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  cursor: pointer;
  font-weight: bold;
}

/* FOOTER */

footer {
    background-color: var(--lightgrey);
    color: var(--black);
    height: auto;
    padding: 50px 50px 0px 50px; 
    display: flex;
    flex-direction: column;
}

.footer-columns {
    display: flex;
    width: 100%;
    line-height: 1.5;
    /* justify-content: space-between; */
}

#footer-column-1 {
    width: 500px;
}

footer img {
    width: 100px;
    margin-bottom: 2px;
}

#footer-blurb {
    font-size: 1.25rem;
    width: 500px;
    margin-top: 15px;
}

#social-icons img {
    width: 35px;
    margin-top: 20px;
    margin-right: 10px;
}
.footer-column-group{
    display: flex;
}

.footer-column-headers h3 {
    font-size: smaller;
    margin-bottom: 20px;
}


#footer-column-2 {
    margin-right: 60px;
}

#footer-column-2 ul {
    display: inline-block;
    text-align: left;
}
#footer-column-2 li {
    margin-bottom: 10px;
}

#footer-column-3 {
    margin-right: 60px;
}

#footer-column-3 li {
    list-style: none;
    margin-bottom: 10px;
}

#footer-column-4 {
    margin-right: 0px;
}

#footer-column-4 li {
    list-style: none;
    margin-bottom: 10px;
}

footer hr {
    margin-top: 70px;
    border: none;
    border-bottom: 1px solid var(--darkgrey);
}

footer a {
    text-decoration: none;
    white-space: nowrap;
}

#footer-secondary-info {
    display: flex;
    align-items: center;
    padding: 10px 0px;
}

#footer-secondary-info p {
    font-size: smaller;
    margin-right: 10px;
    white-space: nowrap;
}

#footer-secondary-info a {
    font-size: smaller;
    margin-right: 10px;
    white-space: nowrap;
}

/* ------------ Map/Results Page ----------- */
.hl-1 {
    border-bottom: 1px solid var(--darkgrey);
    margin: 0px 0px 20px 0px;
}

#search-options {
    margin: 0px 50px; 
    display: flex;
    white-space: nowrap;
}

#secondary-search-input {
    width: 500px;
    height: 45px;
    border-radius: 50px;
    padding: 20px;
    border: 1px solid var(--darkgrey);
    margin: 0px 10px 0px 0px;
}

.vl {
    border-left: 1px solid var(--darkgrey);
    height: 50px;
}

.filter-btn {
    background-color: var(--white);
    border-radius: 50px;
    border: 1px solid var(--darkgrey);
    height: 45px;
    padding: 0px 20px;
}

.filters-btns {
    margin-left: 10px;
}

.filter-btn:hover{
    background-color: var(--blue);
    color: var(--white);
    border: 1px solid var(--blue);
    word-wrap: break-word;
}

.dropbtn {
    background-color: var(--white);
    color: var(--blue);
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
}

.dropbtn:hover,
.dropbtn:focus {
    background-color: var(--white);
    text-decoration: underline;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: var(--lightgrey);
    min-width: 200px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
    padding: 20px;
}

.dropdown-content input {
    color: var(--black);
    padding: 12px 16px;
    text-decoration: none;
    margin-bottom: 15px;
    /* display: block; */
}

.dropdown-content input:hover {
    background-color: #ddd
}

.show {
    display: block;
}

#save-search-btn {
    background-color: var(--blue);
    color: var(--white);
    border-radius: 50px;
    border: none;
    padding: 0px 20px;
    width: 150px;
    height: 45px;
}

.filters-btns a {
    text-decoration: none;
    margin-left: 20px;
    margin-right: 20px;
}

.hl-2 {
    border-bottom: 1px solid var(--darkgrey);
    margin: 20px 0px 0px 0px;
}

.content-boxes {
    display: flex;    
}

#map {
    width: 50vw;
    height: 800px;
}

.results-container {
    width: 60vw;
    background-color: var(--white);
    overflow: scroll;
    background-color: var(--lightgrey);
    display: flex;
    flex-wrap: wrap;
    height: 800px;
    max-width: 100%;
    overflow-x: hidden;
}

.img-placeholder {
    background-image: url(/Images/artem-gavrysh-F6-U5fGAOik-unsplash.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    width: 350px;
    height: 200px;
    border-radius: 10px;
    margin-bottom: 25px;
}

.result-card {
    color: var(--black);
    width: 400px;
    margin: 10px 10px 10px 10px;
    border: 2px solid var(--lightgrey);
    box-shadow:
        0 5px 10px rgba(154, 160, 185, 0.05),
        0 15px 40px rgba(166, 173, 201, 0.2);
    display: flex;
    flex-wrap: wrap;
    text-decoration: none;
    color: var(--black);
    background-color: var(--white);
    padding: 25px;
    height: 550px;
}

.card-details {
    position: relative;
    overflow-wrap: break-word;
    word-wrap: break-word;
    hyphens: auto;
}

.card-details p {
    font-size: 1rem;
    line-height: normal;
    margin-top: 20px; 
}

/* --------------- 404 Page --------------- */

/* #error-page {
    display: flex;
    flex-direction: column;
    margin: 50px;
}

#error-page img {
    width: 450px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

#error-page h1 {
    font-size: 9rem;
    color: var(--blue);
    text-align: center;
}

#error-page p {
    font-size: 1.5rem;
    text-align: center;
    margin: 50px 100px;
} */

/* -----review------ */




#restroom-img-placeholder {
    width: 400px;
    height: 300px;
    border: 1px solid var(--blue);
    border-radius: 20px;
}




/* -------- Review Form -------- */

#review-page {
    padding: 50px;
}
.review-form h1 {
    font-weight: 300;
    /* font-size: larger; */
    color: var(--black);
    text-align: center;
}

.review-form hr {
    margin-top: 50px;
    border: .5px solid #ddd;
}

#form-page-par {
    font-size: larger;
    color: var(--black);
    text-align: center;
} 

.review-form-area {
    width: 700px;
    padding: 50px 50px;
    display: flex;
    flex-direction: column;
    margin: auto;
    margin-top: 50px;
    margin-bottom: 50px;
    background-color: var(--white);
    position: relative;
    box-shadow:
        0 5px 10px rgba(154, 160, 185, 0.05),
        0 15px 40px rgba(166, 173, 201, 0.2);
    border-top: 2px solid var(--lightgrey);    
    border-left: 2px solid var(--lightgrey);
}

.review-form-area h2 {
    margin-bottom: 20px;
}

#review-form p {
    font-size: 1rem;
}

/* .feedback {
    width: 100%;
    max-width: 780px;
    background: #fff;
    margin: 0 auto;
    padding: 15px;
    box-shadow: 1px 1px 16px rgba(0, 0, 0, 0.3);
} */

.survey-hr {
    margin: 10px 0;
    border: .5px solid #ddd;
}

/* .feedback form input,
.feedback form textarea {
    width: 100%;
    border: 1px solid #ddd;
} */

.star-rating {
    margin-bottom: 20px;
    font-size: 0;
    white-space: nowrap;
    display: inline-block;
    width: 175px;
    height: 35px;
    overflow: hidden;
    position: relative;
    background: url('data:image/svg+xml;base64,PHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiIHg9IjBweCIgeT0iMHB4IiB3aWR0aD0iMjBweCIgaGVpZ2h0PSIyMHB4IiB2aWV3Qm94PSIwIDAgMjAgMjAiIGVuYWJsZS1iYWNrZ3JvdW5kPSJuZXcgMCAwIDIwIDIwIiB4bWw6c3BhY2U9InByZXNlcnZlIj48cG9seWdvbiBmaWxsPSIjREREREREIiBwb2ludHM9IjEwLDAgMTMuMDksNi41ODMgMjAsNy42MzkgMTUsMTIuNzY0IDE2LjE4LDIwIDEwLDE2LjU4MyAzLjgyLDIwIDUsMTIuNzY0IDAsNy42MzkgNi45MSw2LjU4MyAiLz48L3N2Zz4=');
    background-size: contain;
}

.star-rating i {
    opacity: 0;
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 20%;
    z-index: 1;
    background: url('data:image/svg+xml;base64,PHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiIHg9IjBweCIgeT0iMHB4IiB3aWR0aD0iMjBweCIgaGVpZ2h0PSIyMHB4IiB2aWV3Qm94PSIwIDAgMjAgMjAiIGVuYWJsZS1iYWNrZ3JvdW5kPSJuZXcgMCAwIDIwIDIwIiB4bWw6c3BhY2U9InByZXNlcnZlIj48cG9seWdvbiBmaWxsPSIjRkZERjg4IiBwb2ludHM9IjEwLDAgMTMuMDksNi41ODMgMjAsNy42MzkgMTUsMTIuNzY0IDE2LjE4LDIwIDEwLDE2LjU4MyAzLjgyLDIwIDUsMTIuNzY0IDAsNy42MzkgNi45MSw2LjU4MyAiLz48L3N2Zz4=');
    background-size: contain;
}

.star-rating input {
    -moz-appearance: none;
    -webkit-appearance: none;
    opacity: 0;
    display: inline-block;
    width: 20%;
    height: 100%;
    margin: 0;
    padding: 0;
    z-index: 2;
    position: relative;
}

.star-rating input:hover+i,
.star-rating input:checked+i {
    opacity: 1;
}

.star-rating i~i {
    width: 40%;
}

.star-rating i~i~i {
    width: 60%;
}

.star-rating i~i~i~i {
    width: 80%;
}

.star-rating i~i~i~i~i {
    width: 100%;
}

.choice {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    text-align: center;
    padding: 20px;
    display: block;
}

span.scale-rating {
    margin: 5px 0 15px;
    display: inline-block;
    width: 100%;
}

span.scale-rating>label {
    position: relative;
    -webkit-appearance: none;
    outline: 0 !important;
    border: 1px solid grey;
    height: 33px;
    margin: 0 5px 0 0;
    width: calc(10% - 7px);
    float: left;
    cursor: pointer;
}

span.scale-rating label {
    position: relative;
    -webkit-appearance: none;
    outline: 0 !important;
    height: 33px;
    margin: 0 5px 0 0;
    width: calc(10% - 7px);
    float: left;
    cursor: pointer;
}

span.scale-rating input[type=radio] {
    position: absolute;
    -webkit-appearance: none;
    opacity: 0;
    outline: 0 !important;
    /*border-right: 1px solid grey;*/
    height: 33px;
    margin: 0 5px 0 0;
    width: 100%;
    float: left;
    cursor: pointer;
    z-index: 3;
}

span.scale-rating label:hover {
    background: #fddf8d;
}

span.scale-rating input[type=radio]:last-child {
    border-right: 0;
}

span.scale-rating label input[type=radio]:checked~label {
    -webkit-appearance: none;
    margin: 0;
    background: #fddf8d;
}

span.scale-rating label:before {
    content: attr(value);
    top: 7px;
    width: 100%;
    position: absolute;
    left: 0;
    right: 0;
    text-align: center;
    vertical-align: middle;
    z-index: 2;
}

#add-img-btn {
    width: 100px;
    margin-top: 20px;
    margin-bottom: 10px;
}

.image-upload>input {
    display: none;
}

#review-form input[type=submit] {
    width: 100px;
    height: 50px;
    background-color: var(--blue);
    border: none;
    border-radius: 30px;
    color: var(--white);
    text-decoration: none;
    font-size: 16px;
    cursor: pointer;
}

/* ------- Admin Page -------- */
#approval-header {
    margin: 50px 0px 20px 70px;
    font-weight: 400;
    width: fit-content;
    font-size: 1.5rem;
}

.reviews-container h3 {
    width: fit-content;
    font-weight: 400;
}


.admin-content-layout hr {
    margin: 0px 70px ;
    border: .5px solid var(--darkgrey);
}

.card {
    width: 900px;
    margin: 50px 70px 50px 70px;
    box-shadow:
        0 5px 10px rgba(154, 160, 185, 0.05),
        0 15px 40px rgba(166, 173, 201, 0.2);
    padding: 50px;
    border-radius: 20px;
    display: flex;
    flex-direction: column;  
    text-decoration: none;
    color: var(--black);
    background-color: var(--white);
    border: 2px solid var(--lightgrey);
    overflow-wrap: break-word;  
}

.card button {
    width: 100px;
    background-color: var(--white);
    color: var(--black);
    border:2px solid var(--darkgrey);
    border-radius: 5px;
    padding: 10px;
    margin-right: 10px;
}

.card button:hover {
    width: 100px;
    background-color: var(--blue);
    color: var(--white);
    border: 2px solid var(--blue);
    border-radius: 5px;
    padding: 10px;
    margin-right: 10px;
}

#reviewer-name-email {
    margin-bottom: 10px;
}

#reviewer-name-email p{
    font-size: 1rem;
}
.rating {
    font-size: 1rem;
}

.restroom-attributes {
    font-size: 1rem;
    margin-bottom: 20px;
}

.written-review {
    font-size: 1rem;
    line-height: normal;
}

#welcome {
    margin: 50px 0px 50px 75px;
    font-weight: 400;
    width: fit-content;
    font-size: 1.5rem;
}

.admin-content-layout {
    display: flex;
}

.admin-main-container-1 {
    width: 350px;
    height: fit-content;
    box-shadow:
        0 5px 10px rgba(154, 160, 185, 0.05),
        0 15px 40px rgba(166, 173, 201, 0.2);
    padding: 50px;
    margin: 0px 20px 100px 70px;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    border: 2px solid var(--lightgrey);
}

.bold-type {
    font-weight: bold;
}
#review-form input[type="checkbox"] {
    margin-bottom: 15px;
}

.admin-profile-tag h3 {
    width: 100px;
    height: 40px;
    background-color: var(--blue);
    color: var(--white);
    border-radius: 5px 0px 5px 0px;
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    left: 0px;
    top: 0px;
}

.admin-profile-user-name {
    display: flex;
    align-items: baseline;
}

.admin-main-container-1 hr {
    width: 250px;
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid var(--darkgrey);
    margin: 1em 0;
    padding: 0;
}

.admin-main-container-1 img {
    border-radius: 50%;
    width: 100px;
    height: 100px;
    margin-top: 30px;
    margin-bottom: 20px;
}

.admin-profile-user-name img {
    width: 15px;
    height: 15px;
    margin: 5px;
}

.bio-details p {
    width: 100%;
    color: var(--black);
    font-size: 1rem;
    display: flex;
    justify-content: space-between;
}

.admin-main-container-2 {
    box-shadow:
        0 5px 10px rgba(154, 160, 185, 0.05),
        0 15px 40px rgba(166, 173, 201, 0.2);
    width: 1050px;
    height: 700px;
    border-radius: 0px 0px 20px 20px;
    margin-right: 70px;
    margin-bottom: 100px;
    overflow: scroll;
    background-color: var(--white);
    border: 2px solid var(--lightgrey);
}

.admin-review-btns{
    display: flex;
}

#admin-review-heading-styling {
    height: 50px;
    border-radius: 10px 10px 0px 0px;
    margin-bottom: 0px;
    margin-right: 70px;
    box-shadow:
        0 5px 10px rgba(154, 160, 185, 0.05),
        0 15px 40px rgba(166, 173, 201, 0.2);
    background-color: var(--lightblue);
    color: var(--black);
    font-size: 1rem;
    display: flex;
    align-items: center;
}

#admin-review-heading-styling h3 {
    margin: 70px;
}