<%- include('../partials/head') -%>

<%- include('../partials/navbar') -%>

<section class="main-content" id="admin-content">

    <h1 class="heading"> <span>admin - books</span> </h1>

    <div class="main-content-layout">


    </div>

</section

<%- include('../partials/footer') -%>