<%- include('../partials/head') -%>

<%- include('../partials/navbar') -%>

<!-- home section starts  -->
    <main>
        <div class='home-container-main'>
            <div class="container-content">
                <div class="container_content_inner">
                    <div class="title">
                        <h1>Let's find a restroom</h1>
                    </div>
                    <div class="par">
                        <p>
                            Locate public restrooms that fit your unique needs quickly and safely.
                        </p>
                    </div>
                    <form class="location-search" action="#">
                        <input type="text" id="location" name="location"
                            placeholder="Enter an address, neighborhood, city, or zip code">
                    </form>
                </div>
            </div>
        </div>

        <div class="home-container">
            <div class="additional-info">
                <h5 class="section-heading">WHAT WE OFFER</h5>
                <h1>Be prepared when nature calls.</h1>
                <div id="features">
                    <div class="feature-cards">
                        <img id="filters-illustration" src="/Images/feature-illustration-filters.png" alt="illustration of person setting search filters">
                        <p>Easily locate restrooms with specific features with our filter and sort tools</p>
                    </div>
                    <div class="feature-cards">
                        <img id="like-illustration" src="/Images/feature-illustration-favorites.png" alt="illustration of person with hearts around them liking a search result in a web browser">
                        <p>Save your favorite restrooms for fast access</p>
                    </div>
                    <div class="feature-cards">
                        <img id="crowdsource-illustration" src="/Images/feature-illustration-crowdsource.png" alt="person on their phone reading crowdsourced reviews">
                        <p>Get real reviews from real people with crowdsourced info</p>
                    </div> 
                </div>
            </div>
        </div>
        <div id="about-container" class="home-container">
            <h5 class="section-heading">WHAT WE'RE ABOUT</h5>
            <h1>Everyone has the right to go.</h1>
            <p id="about-opening-text">Sometimes the most difficult part of someone's day is something most people don't think twice about. Gotta Go was created to make the lives of transgender and gender non-confrming individuals safer and easier by providing critical information on public restrooms.</p>
            <div id="stats-container">
                <div class="stats">
                    <h1>60%</h1>
                    <p>of transgender Americans have avoided using public restrooms for fear of harrassment and assault</p>
                </div>
                <div class="stats">
                    <h1>12%</h1>
                    <p>of transgender people were verbally harassed in public restrooms in the year prior to this study</p>
                </div>
                <div class="stats">
                    <h1>32%</h1>
                    <p>of transgender people reported limiting how much they ate or drank to avoid having to use a public restroom</p>
                </div>
            </div>
            <div id="citation">
                <p><span style="font-weight:bold">Source:</span> National Center for Transgender Equality (Reuters, 2016)</p>
            </div>
        </div>
        <div id="contact-container" class="contact-section">
            <div id="contact-container-left">
                <div id="contact-heading">
                     <h1>Get in Touch</h1>
                </div>
                <div id="contact-paragraph">
                    <p>Have a question, suggestion, or anything<br> else you'd like to share? Shoot us a message.</p>
                </div>
            </div>
            <div id="contact-container-right">
                <form>
                    <label for="name"></label><br>
                    <input type="text" id="name" name="name" placeholder="Your Name" required="name"><br>
                    <label for="email"></label><br>
                    <input type="text" id="email" name="email" placeholder="Email Address"><br>
                    <label for="message"></label><br>
                    <textarea type="text" id="message" name="message" placeholder="What's on your mind?" rows="5"></textarea><br>
                    <button id="submit-button" type="submit">Submit</button>
                </form>
            </div>
        </div>

        <div class="review-card">
            <h1>Wanna talk toilets?</h1>
            <form action="../../review">
                <button type="submit">Leave a Review</button>
            </form>
        </div>
    </main>

<%- include('../partials/footer') -%>

