<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="styles.css" rel="stylesheet">
    <link href='https://css.gg/profile.css' rel='stylesheet'>
    <script defer src="./scripts.js"></script>
    <script src="https://kit.fontawesome.com/32a40a29e2.js" crossorigin="anonymous"></script>

    <!-- ---maps--- -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/openlayers/openlayers.github.io@master/en/v6.14.1/css/ol.css"
        type="text/css">
    <style>
        .map {
            height: 800px;
            width: 100%;
        }
    </style>
    <script src="https://cdn.jsdelivr.net/gh/openlayers/openlayers.github.io@master/en/v6.14.1/build/ol.js"></script>
    <!-- ---maps--- -->


    <title id="search-results-go-here"></title>
</head>
<body>
    <header>
        <a href="index.html" class="logo"><img src="Images/gg-logo.png"></a>
    
        <nav>
            <ul>
                <!-- REMEMBER TO LINK PAGES! -->
                <li><a href="#about" class="navbtns">About Us</a></li>
                <li><a href="#contact" class="navbtns">Contact Us</a></li>
                <li><a href="#submit-a-restroom" class="button">Submit a Restroom</a></li>
                <!-- <div class="popup" onclick="popupWindow()">Sign In<span class="popuptext" id="myPopup>"></span> -->
                <!-- <li><a href="signin-popup" class="navbtns" class="popup" onclick="popupWindow()">Sign In</a></li> -->
                <i class="gg-profile"></i>
            </ul>
        </nav>
    </header>
    <main>
        <div class="hl-1"></div>
        <div id="search-options">
            <input id="secondary-search-input" type="text" placeholder="Enter an address, neighborhood, city, or ZIP code" name="search">  
            <div class="vl"></div>
            <div class="filters-and-save">
                <button class="filter-btn" type="submit">All Genders</button>
                <button class="filter-btn" type="submit">Single Stall</button>
                <button class="filter-btn" type="submit">Wheelchair Accessible</button> 
                <button class="filter-btn" type="submit">Changing Table</button>
                <button id="save-search-btn" type="submit">Save Search</button>
            </div>
        </div>
        <div class="hl-2"></div>
        <div class="content-boxes">
            <!-- ---map--- -->
            <div id="map" class="map"></div>
            <script type="text/javascript">
                var map = new ol.Map({
                    target: 'map',
                    layers: [
                        new ol.layer.Tile({
                            source: new ol.source.OSM()
                        })
                    ],
                    view: new ol.View({
                        center: ol.proj.fromLonLat([-71.05, 42.36]),
                        zoom: 15
                    })
                });
            </script>
            <!-- ---map--- -->
            <div class="result-cards">
                <div class="card-list">
                    <div class="card">
                        <div class="img-placeholder"></div><!--image slideshow-->
                        <div class="card-details">
                            <h3>Location</h3>
                            <p>really brief restroom description would go here? some more text as a placeholder</p>
                            <p>0.0mi away</p>
                        </div>
                    </div>
                </div>
                <div class="card-list">
                    <div class="card">
                        <div class="img-placeholder"></div>
                        <!--image slideshow-->
                        <div class="card-details">
                            <h3>Location</h3>
                            <p>really brief restroom description would go here? some more text as a placeholder</p>
                            <p>0.0mi away</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        
    </main>

<%- include('../partials/footer') -%>
    