<%- include('../partials/head') -%>

<%- include('../partials/navbar') -%>

<!-- review section starts  -->

    <main id="review-page">
        <!-- add horizontal rule -->
        <div class="review-form">
            <h1>We Value Your Voice</h1>
            <p id="form-page-par">Your reviews help other users gain valuable information<br> and can make a world of difference when locating a restroom</p>
            <div class="review-form-area">
                <h2>Create review</h2>
                <div id="restroom-img-placeholder">
                    <!-- <img> use ejs to populate restroom image -->
                </div>

                <hr class="survey-hr">

                <form id="review-form" action="/admin" method="POST">
                    <h2>Your name</h2>
                    <p>This name will be visible to other users</p>
                    <label for="username">Full name</label><br>
                    <input type="text" id="username" name="username" autofocus="username" required="username"><br>
                    <label for="email">Email</label><br> 
                    <input type="text" id="email" name="email" autofocus="email" required="email"><br>

                    <hr class="survey-hr">

                    <label>Overall experience</label><br>

                    <span class="star-rating">
                        <input type="radio" name="rating" value=1><i></i>
                        <input type="radio" name="rating" value=2><i></i>
                        <input type="radio" name="rating" value=3><i></i>
                        <input type="radio" name="rating" value=4><i></i>
                        <input type="radio" name="rating" value=5><i></i>
                    </span>
                    <div class="clear"></div>
                    
                    <label for="headline">Add a headline</label><br>
                    <input type="text" id="headline" name="headline" placeholder="" autofocus="headline" required="headline"><br>

                    <!-- <input type="checkbox" id="all-gender" name="allGender" value="All gender">
                    <label for="all-gender">All gender</label><br>

                    <input type="checkbox" id="single-stall" name="singleStall" value="Single stall">
                    <label for="single-stall">Single stall</label><br>

                    <input type="checkbox" id="wheelchair-accessible-stall" name="wheelchairAccessibleStall" value="Wheelchair accessible stall">
                    <label for="vehicle3">Wheelchair accessible stall</label><br>

                    <input type="checkbox" id="open-to-non-customers" name="openToNonCustomers" value="Open to non-customers">
                    <label for="open-to-non-customers">Open to non-customers</label><br>

                    <input type="checkbox" id="toilet" name="toilet" value="Toilet">
                    <label for="toilet">Toilet</label><br>
                    
                    <input type="checkbox" id="urinal" name="urinal" value="Urinal">
                    <label for="urinal">Urinal</label><br>

                    <input type="checkbox" id="multiple-stalls" name="multipleStalls" value="Multiple stalls">
                    <label for="multiple-stalls">Multiple stalls</label><br>

                    <input type="checkbox" id="womens-room" name="womensRoom" value="Women's Room">
                    <label for="womens-room">Women's room</label><br>

                    <input type="checkbox" id="mens-room" name="mensRoom" value="Men's Room">
                    <label for="mens-room">Men's room</label><br>

                    <input type="checkbox" id="changing-table" name="changingTable" value="Changing table">
                    <label for="changing-table">Changing table</label><br>

                    <input type="checkbox" id="menstrual-products" name="menstrualProducts" value="Menstrual products">
                    <label for="menstrual-products">Menstrual products</label><br>

                    
                    <input type="checkbox" id="automatic-door-opener" name="automaticDoorOpener" value="Automatic door opener">
                    <label for="automatic-door-opener">Automatic door opener</label><br>

                    <input type="checkbox" id="restroom-attendant" name="restroomAttendant" value="Restroom attendant">
                    <label for="restroom-attendant">Restroom attendant</label><br>

                    <input type="checkbox" id="floor-to-ceiling-stall-walls" name="floorToCeilingStallWalls" value="Floor-to-ceiling stall walls">
                    <label for="floor-to-ceiling-stall-walls">Floor-to-ceiling stall walls</label><br>

                    <input type="checkbox" id="family-restroom" name="familyRestroom" value="Family restroom">
                    <label for="family-restroom">Family restroom</label><br>

                    <input type="checkbox" id="no-access-key-required" name="noAccessKeyRequired" value="No access key required">
                    <label for="no-access-key-required">No access key required</label><br>

                    <input type="checkbox" id="accessible-bag-hooks-in-stall" name="accessibleBagHooksInStall" value="Accessible bag hooks in stalls">
                    <label for="accessible-bag-hooks-in-stall">Accessible bag hooks in stalls</label><br> -->

                    <label for="m_3189847521540640526commentText">Add a written review</label><br /><br />
                    <textarea cols="75" name="commentText" rows="5" style="100%"></textarea><br>
                    <br>
                    <div class="clear"></div>
                    <hr class="survey-hr">
                    <div class="image-upload">
                        <label for="img">Add a photo or video<br><img src="/Images/add-image-icon.png" id="add-img-btn"></label><br>
                        <input type="file" id="img" name="img" accept="image/*">
                    </div>
                    <br>
                    <input type="submit" value="Submit">
                </form>
            </div>      
        </div>
    </main>

<%- include('../partials/footer') -%>