<%- include('../partials/head') -%>

<%- include('../partials/whitenavbar') -%>

<!-- review section starts  -->

    <main id="review-page">
        <div class="review-form">
            <h1>We Value Your Voice</h1>
            <p id="form-page-par">Your reviews help other users gain valuable information<br> and can make a world of difference when locating a restroom</p>
            <hr>
            <div class="review-form-area">

                <form id="review-form" action="/review" method="POST">
                    <h2>Create review</h2>
                    <h3>Your name</h3>
                    <p>This name will be visible to other users</p><br>
                    <label for="username">Full name</label><br><br>
                    <input type="text" id="username" name="username" autofocus="username" required size="40" minlength="1"><br><br>
                    <label for="email">Email</label><br> <br>
                    <input type="text" id="email" name="email" autofocus="email" required size="40"><br>

                    <hr class="survey-hr"><br><br>

                    <h3>Location Details</h3><br>
                    <label for="location-name">Location name</label><br><br>
                    <input type="text" id="location-name" name="locationName" required size="40"><br><br>

                    <label for="location-address">Location address</label><br><br>
                    <input type="text" id="location-address" name="locationAddress" required size="40">

                    <hr class="survey-hr"><br><br>

                    <h3>Overall experience</h3><br>

                    <span class="star-rating">
                        <input type="radio" name="rating" value="1" required ><i></i>
                        <input type="radio" name="rating" value="2"><i></i>
                        <input type="radio" name="rating" value="3"><i></i>
                        <input type="radio" name="rating" value="4"><i></i>
                        <input type="radio" name="rating" value="5"><i></i>
                    </span><br><br>
                    <div class="clear"></div>
                    
                    <label for="headline">Add a headline</label><br><br>
                    <input type="text" id="headline" name="headline" autofocus="headline" required size="50" minlength="2"><br><br><br>
                    <h3>Features</h3><br><br>
                    <input type="checkbox" id="all-gender" name="restroomAttributes" value="All gender">
                    <label for="all-gender">All gender</label><br>

                    <input type="checkbox" id="single-stall" name="restroomAttributes" value="Single stall">
                    <label for="single-stall">Single stall</label><br>

                    <input type="checkbox" id="wheelchair-accessible-stall" name="restroomAttributes" value="Wheelchair accessible stall">
                    <label for="wheelchair-accessible-stall">Wheelchair accessible stall</label><br>

                    <input type="checkbox" id="open-to-non-customers" name="restroomAttributes" value="Open to non-customers">
                    <label for="open-to-non-customers">Open to non-customers</label><br>

                    <input type="checkbox" id="toilet" name="restroomAttributes" value="Toilet">
                    <label for="toilet">Toilet</label><br>
                    
                    <input type="checkbox" id="urinal" name="restroomAttributes" value="Urinal">
                    <label for="urinal">Urinal</label><br>

                    <input type="checkbox" id="multiple-stalls" name="restroomAttributes" value="Multiple stalls">
                    <label for="multiple-stalls">Multiple stalls</label><br>

                    <input type="checkbox" id="womens-room" name="restroomAttributes" value="Women's Room">
                    <label for="womens-room">Women's room</label><br>

                    <input type="checkbox" id="mens-room" name="restroomAttributes" value="Men's Room">
                    <label for="mens-room">Men's room</label><br>

                    <input type="checkbox" id="changing-table" name="restroomAttributes" value="Changing table">
                    <label for="changing-table">Changing table</label><br>

                    <input type="checkbox" id="menstrual-products" name="restroomAttributes" value="Menstrual products">
                    <label for="menstrual-products">Menstrual products</label><br>

                    
                    <input type="checkbox" id="automatic-door-opener" name="restroomAttributes" value="Automatic door opener">
                    <label for="automatic-door-opener">Automatic door opener</label><br>

                    <input type="checkbox" id="restroom-attendant" name="restroomAttributes" value="Restroom attendant">
                    <label for="restroom-attendant">Restroom attendant</label><br>

                    <input type="checkbox" id="floor-to-ceiling-stall-walls" name="restroomAttributes" value="Floor-to-ceiling stall walls">
                    <label for="floor-to-ceiling-stall-walls">Floor-to-ceiling stall walls</label><br>

                    <input type="checkbox" id="family-restroom" name="restroomAttributes" value="Family restroom">
                    <label for="family-restroom">Family restroom</label><br>

                    <input type="checkbox" id="no-access-key-required" name="restroomAttributes" value="No access key required">
                    <label for="no-access-key-required">No access key required</label><br>

                    <input type="checkbox" id="accessible-bag-hooks-in-stall" name="restroomAttributes" value="Accessible bag hooks in stalls">
                    <label for="accessible-bag-hooks-in-stall">Accessible bag hooks in stalls</label><br><br>

                    <label for="m_3189847521540640526commentText">Add a written review</label><br /><br />
                    <textarea cols="75" name="commentText" rows="10" required minlength="10" maxlength="4000"></textarea><br>
                    <div class="clear"></div>
                    <hr class="survey-hr"><br><br>
                    <div class="image-upload">
                        <label for="img">Add a photo or video<br><img src="/Images/add-image-icon.png" id="add-img-btn"></label><br>
                        <input type="file" id="img" name="img" accept="image/*">
                    </div>
                    <br>
                    <input type="submit" value="Submit">
                </form>
            </div>      
        </div>
    </main>

<%- include('../partials/footer') -%>